

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Production</span>
                       
                    </div>                
                </div>
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"><app-production></app-production></span>
                        
                    </div>                
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">cost</span>
                       
                    </div>   
                </div>
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"> <app-cost></app-cost></span>
                       
                    </div>   
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Issues</span>
                    </div>   
                </div>
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"><app-issues></app-issues></span>
                    </div>   
                </div>
                
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Died</span>
                    </div>
                </div>
                <div class="flex justify-content-center mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"> <app-died></app-died></span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="grid nested-grid">
        <div class="col-8">
          <div class="surface-card shadow-2 p-3 border-round">
            <div class=" p-3 border-round-sm h-full  ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="text-900 form-check-label" for="flexCheckDefault" style="color:#043912 ;">
                    Now there was 80% of feed1
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked" style="color:#CC0909 ;">
                    There is a shortage of feed in the store !
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="color:#0ACF3E ;">
                    The Store has been filled with feed (80%)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked" style="color:#CC0909 ;">
                    Lack of feed5!
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="color:#043912 ;">
                    Now there was 50% of feed6
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked" style="color:#043912 ;">
                    The feed5 is on shipping tracking
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="color:#043912 ;">
                    Now there was 80% of feed1
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked" style="color:#CC0909 ;">
                    There is a shortage of feed in the store !
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="color:#0ACF3E ;">
                    The Store has been filled with feed (80%)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked" style="color:#CC0909 ;">
                    Lack of feed5!    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="color:#043912 ;">
                    Now there was 50% of feed6
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked" style="color:#043912 ;">
                    The feed5 is on shipping tracking
                    </label>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-4">
            <div class="text-center  border-round-sm h-full  font-bold">
                <div>
                    <span class="block text-500 font-medium ">celander</span>
                </div>
                    <h5>June 20,2024 </h5>
                    <div class="card shadow-2" id="green">
                        <div class="card-body">
                            <div class="flex justify-content-between">
                                <div>
                                    <span class="block text-500 font-medium ">10:00</span>
                                </div>
                                <div class="flex align-items-center justify-content-center border-round" >
                                    Brazilin Shipment
                                </div>
                            </div>
                            <div class="flex align-items-center text-500 justify-content-center border-round ">
                                <div>On Road</div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-2" id="blue">
                        <div class="card-body">
                            <div class="flex justify-content-between">
                                <div>
                                    <span class="block text-500 font-medium ">10:00</span>
                                </div>
                                <div class="flex align-items-center justify-content-center border-round" >
                                    Brazilin 
                                </div>
                            </div>
                            <div class="flex align-items-center text-500 justify-content-center border-round ">
                                <div>Highly Salses</div>
                            </div>
                        </div>
                    </div>
                    <h5>July 1,2024</h5>
                    <div class="card shadow-2" id="red">
                        <div class="card-body">
                            <div class="flex justify-content-between">
                                <div>
                                    <span class="block text-500 font-medium ">10:00</span>
                                </div>
                                <div class="flex align-items-center justify-content-center border-round" >
                                    Brazilin Shipment
                                </div>
                            </div>
                            <div class="flex align-items-center text-500 justify-content-center border-round ">
                                <div>On Road</div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-2" id="orang">
                        <div class="card-body">
                            <div class="flex justify-content-between">
                                <div>
                                    <span class="block text-500 font-medium ">10:00</span>
                                </div>
                                <div class="flex align-items-center justify-content-center border-round" >
                                    Brazilin 
                                </div>
                            </div>
                            <div class="flex align-items-center text-500 justify-content-center border-round ">
                                <div>Highly Salses</div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
</div>

