#blue{
    border-left: 5px #2A3EF4 solid;
    border-radius: 10px;
    background-color: #F4E9E9;
}
h5{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    text-align: left;
}
#orang{
    border-left: 5px #EFC96E solid;
    border-radius: 10px;
    background-color: #F4E9E9;
    
}
#red{
    border-left: 5px #32B5A3 solid;
    border-radius: 10px;
    background-color: #F4E9E9;
}

#green{
    border-left: 5px #2AF47B solid;
    border-radius: 10px;
    background-color: #F4E9E9;
}
.card{
    width: 350px;
    height: 70px;
}