<div class="grid nested-grid">
    <div class="col-8">
        <div class="grid">
            <div class="col-4"> 
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Total Salse</span>
                                <div class="text-900 font-medium text-xl">$ 9.230</div>
                            </div>
                            <div class="flex align-items-center justify-content-center  border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-trophy text-blue-500 text-2xl"></i>
                            </div>
                        </div>
                        <span class=" bg-green-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-arrow-up text-green-500 text-xl"></i>
                        </span>
                        <span class="text-green-500 font-medium">+12.00%  </span>
                        <span class="text-500"> this week</span>
                    </div> 
            </div>
            <div class="col-4">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Total Order</span>
                                <div class="text-900 font-medium text-xl">$2.100</div>
                            </div>
                            <div class="flex align-items-center justify-content-center  border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-gift text-orange-500 text-2xl"></i>
                            </div>
                        </div>
                        <span class=" bg-red-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-arrow-down text-red-500 text-xl"></i>
                        </span>
                        <span class="text-red-500 font-medium">-3.00% </span>
                        <span class="text-500">since last week</span>
                    </div> 
            </div>
            <div class="col-4 ">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-900 font-medium mb-3">Total Product</span>
                                <div class="text-900 font-medium text-xl">$2.100</div>
                            </div>
                            <div class="flex align-items-center justify-content-center border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-tag text-orange-500 text-2xl"></i>
                            </div>
                        </div>
                        <span class=" bg-green-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-arrow-up text-green-500 text-xl"></i>
                        </span>
                        <span class="text-green-500 font-medium">+2.0% </span>
                        <span class="text-500">since last week</span>
                    </div>  
            </div>
            <div class="col-12">
                <div class="text-center p-3 border-round-sm font-bold">
                  
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <h2 class="block text-900 font-medium mb-3">Rate Of Production</h2>
                            </div>
                             
                            </div>
                        <iframe src="../../assets/dashboard_1.html" style="width: 850px; height: 500px;"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center p-3 border-round-sm  font-bold">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <h2 class="block text-900 font-medium mb-3">watchList</h2>
                            </div>
                              <!-- <p-dropdown 
                              [options]="day" 
                              [(ngModel)]="selectedCity" 
                              optionLabel="name" 
                              placeholder="select day" 
                              styleClass="width:100px:"/> -->
                            </div>
                            <table class="table">
                               
                                <tbody>
                                  <tr>
                                    <th >cost</th>
                                    <td><img src="../../assets/group_108_x2.svg"style="width: 200px;"></td>
                                    <td>12<span><i class="pi pi-arrow-up text-green-500 text-xl"></i></span></td>
                                    
                                   
                                  </tr>
                                  <tr>
                                    <th >production</th>
                                    <td><img src="../../assets/group_108_x2.svg"style="width: 200px;"></td>
                                    <td>9873<span><i class="pi pi-arrow-up text-green-500 text-xl"></i></span></td>
                               
                                  </tr>
                                  <tr>
                                    <th >no. of cows</th>
                                    <td ><img src="../../assets/group_108_x2.svg" style="width: 200px;"></td>
                                    <td >645{{Data.cowCount}} <i class="pi pi-arrow-up text-green-500 text-xl"></i></td>
                                    
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-4">
        <div class="col-12">
        <div class="text-center p-3 border-round-sm font-bold">
                          <div class="surface-card shadow-2 p-3 border-round">
                            <div clas="card-header">
                              <div class="flex-auto " >
                                <!-- <p-calendar
                                [(ngModel)]="date2"
                                [showIcon]="true"
                                inputId="buttondisplay"
                                [showOnFocus]="true"
                                styleclass="width:500px" /> -->
                                <label for="buttondisplay" class="font-bold block mb-2"> <p style=" font-size: x-large;"><i class="bi bi-chevron-compact-left"></i> march 2023 <i class="bi bi-chevron-compact-right"></i></p> </label>
                            </div>
                            </div>
                            <div class="card-body">
                                <app-oee></app-oee>               
                                </div>
                            
                            <div class="card-footer">
                              <span>
                                <i class="bi bi-emoji-smile-fill" style="font-size: 1.5rem; color: #3A4DE9;"></i>
                                you are going good !
                              </span>
                            </div>
            </div>
        </div>
            <div class="col-12">
                <div class="text-center p-3 border-round-sm font-bold">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div clas="card-header">
                          <div class="flex-auto " >
                            <!-- <p-calendar
                            [(ngModel)]="date2"
                            [showIcon]="true"
                            inputId="buttondisplay"
                            [showOnFocus]="true"
                            styleclass="width:500px" /> -->
                            <label for="buttondisplay" class="font-bold block mb-2"> <p style=" font-size: x-large;"><i class="bi bi-chevron-compact-left"></i> march 2023 <i class="bi bi-chevron-compact-right"></i></p> </label>
                        </div>
                        </div>
                        <div class="card-body">
                            <app-up-time></app-up-time>
                        </div>
                        
                        <div class="card-footer">
                          <span>
                            <i class="bi bi-emoji-smile-fill" style="font-size: 1.5rem; color: #3A4DE9;"></i>
                            you are going good !
                          </span>
                        </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class=" p-3 border-round-sm font-bold">    
        <app-department></app-department>
    </div>
</div>

